* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#main {
  color: #FFFFFF;
  min-width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E1EFE6;
}

#calculator {
  padding: 3px;
  height: 500px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
  background-color: #000411;
  border-radius: 2px;
  border: 4px solid #4B4D62;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

#display-wrapper {
  -ms-flex-preferred-size: 16.66%;
      flex-basis: 16.66%;
  text-align: right;
}

#result {
  padding-top: 7px;
  color: #ecd147;
  width: 100%;
  height: 50%;
  font-size: 1.3rem;
  line-height: calc(100%);
}

#display {
  padding-bottom: 5px;
  color:#E1EFE6;
  width: 100%;
  height: 50%;
  font-size: 1.7rem;
  line-height: calc(100%);
}

#numpad-wrapper {
  height: 100%
}

#numpad {
  height: 100%;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2px 1fr 2px 1fr 2px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 2px 1fr 2px 1fr 2px 1fr 2px 1fr;
  grid-template-rows: repeat(5, 1fr);
      grid-template-areas: 
  "clear clear add substract"
  "seven eight nine multiply"
  "four five six divide"
  "one two three equals"
  "zero zero decimal equals"
  ;
  gap: 2px;
}

button {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.3rem;
  font-weight: bolder;
  color: white;
}

button:hover {
  border: 2px solid #CCCCCC
}

.number {
  background-color: #4B4D62;
}

.symbol {
  background-color: #2B2D42;
}

#equals {
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  -ms-grid-column: 7;
  grid-area: equals;
  background-color: #ae8105;
}

#zero {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: zero;
}

#one {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: one;
}

#two {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: two;
}

#three {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
  grid-area: three;
}

#four {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: four;
}

#five {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: five;
}

#six {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  grid-area: six;
}

#seven {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: seven;
}

#eight {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: eight;
}

#nine {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: nine;
}

#add {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: add;
}

#substract {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: substract;
}

#multiply {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
  grid-area: multiply;
}

#divide {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
  grid-area: divide;
}

#decimal {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
  grid-area: decimal;
}

#clear {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: clear;
  background-color: #EC4120;
}